@charset "UTF-8";
/* CSS Document */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;

  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333;
  background-color: #EDECE6;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　main-top
  ==============================================================*/
  .main-top .main-item {
    width: 90%;
    margin: 50px 0 0 10%;
  }

  .main-top .main-item p {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding-top: 25%;
    color: #289A49;

    /* font-size: 48px; */
    z-index: 1;
    line-height: 1;
    position: absolute;
    left: 10%;
  }

  .main-img {
    width: 90%;
    height: 175px;
    margin-left: 10%;
    overflow: hidden;
  }

  .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-top .text-box {
    width: 80%;
    margin: -40px 0 0 10%;
    padding-top: 40px;
    line-height: 1.8;
    background-color: #edece6;
    border-radius: 0 25px 0 0;
    position: relative;
    z-index: 1;
  }

  .main-top .text-box p {
    width: 90%;
  }

  /*==============================================================
    　　会社情報
  ==============================================================*/
  .sec-info {
    font-family: "Noto Sans JP";
  }

  .sec-info .sec-title {
    margin-top: 80px;
  }

  .sec-info .sec-title {
    text-align: center;
  }

  .sec-info .sec-title .title {
    font-size: 24px;
    font-family: "Noto Sans JP";
    font-weight: 500;
    color: #289A49;
    margin-bottom: 14px;
  }

  .sec-info .sec-title .title-jp {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
  }

  .sec-info .info {
    margin-top: 30px;
  }

  .sec-info .info .info-item {
    display: grid;
    grid-template-columns: 120px 1fr;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 1.8;
    border-bottom: 1px dotted #ccc;
    font-weight: normal;
  }

  .sec-info .info .info-item dt {
    font-weight: normal;
  }

  .sec-info .info .info-item .map-link {
    color: #289A49;
    /* border-bottom: solid 2px #289A49; */
    text-decoration: underline;
  }

  /*==============================================================
    　　画像
  ==============================================================*/
  .about-bg {
    height: 183px;
    margin-top: 80px;
    margin-right: 10%;
  }

  .about-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*==============================================================
    　　社長紹介
  ==============================================================*/
  .sec-president {
    width: 80%;
    margin: 80px 10% 0 10%;
    display: block;
    padding-bottom: 80px;
  }

  .president-img img {
    width: 100%;
    height: auto;
  }

  .sec-president .name {
    font-size: 30px;
    margin-top: 6px;
    display: flex;
    align-items: end;
  }

  .sec-president .name .name-en {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  

  .sec-president .position {
    font-size: 12px;
    font-weight: bold;
    color: #289A49;
    margin: 30px 0;
  }

  .sec-president .text {
    margin-top: 20px;
    line-height: 1.8;
  }

  


}