@charset "UTF-8";
/* CSS Document */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;

  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333;
  background-color: #EDECE6;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */


  /*==============================================================
    　　会社情報
  ==============================================================*/
  .sec-info {
    font-family: "Noto Sans JP";
  }

  .sec-info .sec-title {
    margin-top: 80px;
  }

  .sec-info .sec-title {
    text-align: center;
  }

  .sec-info .sec-title .title {
    font-size: 24px;
    font-family: "Noto Sans JP";
    font-weight: 500;
    color: #289A49;
    margin-bottom: 14px;
  }

  .sec-info .sec-title .title-jp {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
  }

  .sec-info .info {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .sec-info .info .info-item {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: 20px 0;
    line-height: 1.8;
    border-bottom: 1px dotted #ccc;
    font-weight: normal;
    align-items: center;
  }

  .sec-info .info .info-item .list {
    margin-left: 3px;
  }

  .sec-info .info .info-item dt {
    font-weight: normal;
  }

  .sec-info .info .info-item .map-link {
    color: #289A49;
    /* border-bottom: solid 2px #289A49; */
    text-decoration: underline;
  }

  /*==============================================================
    　　画像
  ==============================================================*/
  .about-bg {
    height: 183px;
    margin-top: 80px;
    margin-right: 10%;
  }

  .about-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*==============================================================
    　　社長紹介
  ==============================================================*/
  .sec-president {
    width: 80%;
    margin: 80px 10% 0 10%;
    display: block;
    padding-bottom: 80px;
  }

  .president-img img {
    width: 100%;
    height: auto;
  }

  .sec-president .position {
    font-size: 12px;
    font-weight: bold;
    color: #289A49;
    margin: 30px 0;
  }

  .sec-president .name {
    font-size: 30px;
    margin-top: 6px;
    display: flex;
    align-items: end;
  }

  .sec-president .name .name-en {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .sec-president .text {
    margin-top: 20px;
    line-height: 1.8;
  }

}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　TB_会社情報
  ==============================================================*/
  .sec-info .sec-title {
    margin-top: 100px;
  }

  .sec-info .sec-title .title {
    font-size: 36px;
  }

  .sec-info .info {
    margin: 40px 0 0 16.66%;
    width: 74.97%;
  }

  .sec-info .info .info-item {
    grid-template-columns: 22.2% 77.8%;
    padding: 30px 0;
    line-height: 2;
  }

  .sec-info .info .info-item .list {
    display: grid;
    grid-template-columns: 110px 1fr;
    row-gap: 20px;
  }

  /*==============================================================
    　　TB_画像
  ==============================================================*/
  .about-bg {
    width: 91.57%;
    height: 406px;
    margin: 100px 0 0 0;
  }

  /*==============================================================
    　　TB_社長紹介
  ==============================================================*/
  .sec-president {
    width: 74.97%;
    margin: 100px 0 0 16.66%;
    padding-bottom: 100px;
  }

  .president-img {
    width: 80%;
  }

  .sec-president .position {
    font-size: 16px;
    margin: 40px 0 30px;
  }

  .sec-president .text {
    margin-top: 20px;
    line-height: 2;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_会社情報
  ==============================================================*/
  .sec-info .sec-title {
    margin-top: 120px;
  }

  .sec-info .info .info-item .list {
    grid-template-columns: 150px 150px 1fr;
  }

  /*==============================================================
    　　PC_画像
  ==============================================================*/
  .about-bg {
    width: 83.4%;
    height: 533px;
    /* max-height: 80vh; */
    margin: 150px 0 0 0;
  }

  /*==============================================================
    　　PC_社長紹介
  ==============================================================*/
  .sec-president {
    width: 74.97%;
    margin: 150px 0 0 16.66%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
  }

  .president-img {
    width: 100%;
  }

  .sec-president .text {
    margin-top: 20px;
    line-height: 2;
    margin-bottom: 50px;
  }

  .sec-president .president-text-box {
    margin-left: 6%;
  }


}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_画像
  ==============================================================*/
  .about-bg {
    height: 80vh;
  }
}