@charset "UTF-8";
/* CSS Document */


/* body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333333;
  background-color: #ffffff;
} */

/* ここからCSSを追加していく */
/* index.css */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　ヒーロー
  ==============================================================*/
  .sec-top {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    overflow: hidden;
    background-color: #289A49;
    padding-left: 37.5px;
  }

  .top-img {
    position: absolute;
    z-index: 0;
    top: 5%;
    left: 37.5px;
    width: auto;
    height: 80%;
    overflow: hidden;
  }

  .top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% 50%;
  }

  .sec-top .info-box {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 5%;
    left: 7.5%;
    color: #fff;
    line-height: 1.8;
    /* margin-top: 50px; */
  }

  .sec-top .info-box span {
    font-weight: 500;
  }

  .sec-top .scroll {
    position: absolute;
    right: 5%;
    bottom: 4%;
    width: 20%;
    height: auto;
  }

  .sec-top .scroll .arrow {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 42px;
    margin-top: -1px;
    margin-right: -22px;
  }

  .sec-top .scroll .arrow img {
    width: 12px;
  }

  .sec-top .scroll .circle img {
    width: 83px;
    animation: rotate-circle 20s linear infinite;
    display: inline-block;
  }

  @keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  /*==============================================================
    　　PICKUP
  ==============================================================*/
  .sec-title {
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 70px 0 48px;
  }

  .sec-title .title {
    font-size: 32px;
    color: #289A49;
    margin-bottom: 20px;
  }

  .sec-title .title-jp {
    font-size: 16px;
    margin-right: 2px;
  }

  /* ==================== スライダー ================== */
  .swiper {
    width: 100%;
    height: auto;
  }

  /* .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
  } */

  .swiper-slide {
    /* margin-top: 56px; */
    height: 195px;
    width: 296px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  /*==============================================================
    　　SERVICE
  ==============================================================*/
  .sec-service .sec-title {
    margin: 75px 0 48px;
  }

  .service-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 34px;
    margin: 0 6px;
  }

  .service-item {
    place-items: center;
  }

  .service-img {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
  }

  .service-item p {
    font-size: 16px;
    font-family: "Noto Sans JP";
    font-weight: bold;
    color: #289A49;
    margin-top: 10px;
  }

  /*==============================================================
    　　ABOUT
  ==============================================================*/
  .sec-about {
    margin: 80px 0;
    margin-left: 37.5px;
  }

  .sec-img {
    width: 100%;
    height: 196px;
    overflow: hidden;
    position: relative;
  }

  .sec-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sec-about .square {
    width: 50%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #EDECE6;
    border-radius: 0px 26px 0px 0px;
  }

  .sec-about .sec-title {
    text-align: left;
    letter-spacing: 0.1em;
    margin: 30px 0 20px;
    margin-bottom: 20px;
  }

  .sec-about .sec-title .title {
    margin-bottom: 15px;
  }

  .sec-about .sec-title .title-jp {
    font-family: "Noto Sans JP";
    font-weight: 800;
    letter-spacing: 0.2em;
  }

  .more {
    display: flex;
    align-items: center;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.16em;
  }

  .more .more-arrow img{
    width: 48px;
    margin-left: 16px;
  }

  .sec-about .text {
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 2em;
    width: 90%;
    margin-bottom: 34px;
  }

 /*==============================================================
    　　STRENGTHS
  ==============================================================*/
  .sec-strengths {
    margin-bottom: 78px;
    margin-right: 37.5px;
  }

  .sec-strengths .sec-title {
    text-align: left;
    letter-spacing: 0.1em;
    margin: 30px 0 20px;
    margin-bottom: 20px;
  }

  .sec-strengths .sec-title .title {
    margin-bottom: 15px;
  }

  .sec-strengths .sec-title .title-jp {
    font-family: "Noto Sans JP";
    font-weight: 800;
    letter-spacing: 0.2em;
  }

  .sec-strengths .text {
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 2em;
    /* width: 90%; */
    margin-bottom: 34px;
  }

  .sec-strengths .sec-content {
    margin-left: 37.5px;
    background-color: #EDECE6;
    z-index: 999;
    width: 90%;
    margin-top: -50px;
    margin-left: 10%;
    padding: 40px 0px 0 7.5%;
    border-radius: 25px 0px 0px;
    position:relative;
    z-index: 1;
  }

  /*==============================================================
    　　スタッフ紹介・よくある質問
  ==============================================================*/
  .sec-link {
    margin: 0 37.5px;
    position: relative;
  }

  .sec-link.staff {
    margin-bottom: 20px;
  }

  .sec-link.faq {
    margin-bottom: 80px;
  }

  .sec-link .title {
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    letter-spacing: 0.1em;
    border: solid 2px #fff;
    border-radius: 24px;
    width: 86%;
    height: 84%;
    align-content: center;
    padding-bottom: 8px;
  }

  .sec-link .sec-img {
    border-radius: 32px;
    height: auto;
    aspect-ratio: 3 / 2;
  }

  .sec-link .sec-img img {
    filter: brightness(60%);
  }

  /*==============================================================
    　　画像
  ==============================================================*/
  .bottom-bg {
    width: 100vw;
    height: 392px;
    overflow: hidden;
  }

  .bottom-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 50%;
  }
















}