@charset "UTF-8";

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333;
  background-color: #EDECE6;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　パンくずリスト
  ==============================================================*/
  /* パンくず全体 */
  .breadcrumbs {
    font-size: 16px;
    margin: 10px 0 20px;
    padding: 0;
    position: absolute;
    top: 14px;
    left: 0;
    font-weight: 550;
  }

  /* リストのベース */
  .breadcrumbs ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* スマホで折り返し */
    /* gap: 3px; */
    padding: 0;
    margin: 0;
  }

  /* 各要素 */
  .breadcrumbs li {
    display: flex;
    align-items: center;
  }

  /* 区切り（>）を疑似要素で挿入 */
  .breadcrumbs li + li::before {
    content: "";
    width: 7px;
    height: 7px;
    border: 0;
    border-top: solid 1.5px #333333;
    border-right: solid 1.5px #333333;
    transform: rotate(45deg);
    margin: 0 14px 0 10px;
    color: #999;
    font-size: 20px;
    margin-bottom: 4px;
  }

  /* リンク */
  .breadcrumbs a {
    text-decoration: none;
    color: #289A49;
    transition: color 0.2s;
  }


  /*==============================================================
    　　main-top
  ==============================================================*/
  .main-top .main-item {
    width: 90%;
    margin: 50px 0 0 10%;
  }

  .main-top .main-item p {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding-top: 25%;
    color: #289A49;
    z-index: 1;
    line-height: 1;
    position: absolute;
    left: 10%;
  }

  .main-img {
    width: 90%;
    height: 175px;
    margin-left: 10%;
    overflow: hidden;
  }

  .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-top .text-box {
    width: 80%;
    margin: -40px 0 0 10%;
    /* padding-top: 40px; */
    padding-top: 85px;
    line-height: 1.8;
    background-color: #edece6;
    border-radius: 0 25px 0 0;
    position: relative;
    z-index: 1;
  }

  .main-top .text-box p {
    width: 90%;
  }
}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　TB_パンくずリスト
  ==============================================================*/
  /* パンくず全体 */
  .breadcrumbs {
    font-size: 15px;
    top: 18px;
  }

  /*==============================================================
    　　TB_main-top
  ==============================================================*/
  .main-top .main-item {
    width: 83.3%;
    margin: 135px 0 0 16.7%;
    position: relative;
    overflow: hidden;
  }

  .main-top .main-item p {
    font-size: 48px;
    left: 0;
    padding-top: 20%;
  }

  .main-img {
    width: 100%;
    height: 100%;
    max-height: 353px;
  }

  .main-top .text-box {
    width: 74.97%;
    margin: -50px 0 0 16.66%;
    padding-top: 90px;
    border-radius: 0 25px 0 0;
  }

  .main-top .text-box p {
    width: 95%;
    letter-spacing: 0.05em;
    line-height: 2;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　PC_パンくずリスト
  ==============================================================*/
  /* パンくず全体 */
  .breadcrumbs {
    font-size: 16px;
    top: 30px;
  }

  /* 区切り（>）を疑似要素で挿入 */
  .breadcrumbs li + li::before {
    margin: 0 18px 0 14px;
    margin-bottom: 4px;
  }

  /*==============================================================
    　　PC_main-top
  ==============================================================*/
  .main-top .main-item {
    width: 83.3%;
    margin: 135px 0 0 16.7%;
  }

  .main-img {
    width: 90%;
    height: 100%;
    max-height: 750px;
    margin-left: 10%;
  }

  .main-top .text-box {
    width: 49.98%;
    margin: -75px 0 0 16.66%;
    padding-top: 120px;
    background-color: #edece6;
    border-radius: 0 50px 0 0;
    position: relative;
    z-index: 1;
  }

  .main-top .text-box p {
    width: 100%;
    letter-spacing: 0.05em;
    line-height: 2;
  }


}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /* ==================== パンくずリスト ================== */
  /* リンク */
  .breadcrumbs a {
    transition: opacity 0.3s;
  }

  .breadcrumbs a:hover {
    opacity: 0.6;
  }
}