@charset "UTF-8";
/* CSS Document */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;

  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333;
  background-color: #EDECE6;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
  　　準備中画面
  ==============================================================*/
  /* .maintenance {
    height: 100vh;
  } */
  .main-bg {
    background-color: #edece6;
    padding: 0 16px;
    height: 600px;
    position: relative;
    margin-bottom: 50px;
  }

  .coming-soon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 343px;
    margin-top: 24px;
    padding: 72px 24px 72px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .icon-clock {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }

  .coming-soon-box h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    letter-spacing: 0.15em;
  }

  .coming-soon-box p {
    font-size: 13px;
    line-height: 1.8;
  }

  .maintenance .sec-line {
    margin-top: 40px;
  }



}