@charset "UTF-8";
/* CSS Document */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;

  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333;
  background-color: #EDECE6;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　main-top
  ==============================================================*/
  .main-top .main-item {
    width: 90%;
    margin: 50px 0 0 10%;
  }

  .main-top .main-item p {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding-top: 25%;
    color: #289A49;

    /* font-size: 48px; */
    z-index: 1;
    line-height: 1;
    position: absolute;
    left: 10%;
  }

  .main-img {
    width: 90%;
    height: 175px;
    margin-left: 10%;
    overflow: hidden;
  }

  .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-top .text-box {
    width: 80%;
    margin: -40px 0 0 10%;
    padding-top: 40px;
    line-height: 1.8;
    background-color: #edece6;
    border-radius: 0 25px 0 0;
    position: relative;
    z-index: 1;
  }

  .main-top .text-box p {
    width: 90%;
  }

  /*==============================================================
    　　選ばれる理由
  ==============================================================*/
  .sec-reason {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 120px;
  }

  .reason-img {
    width: 100%;
    height: 234px;
    margin-top: 50px;
  }

  .reason-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .reason-item .num {
    font-size: 14px;
    color: #289A49;
    margin-top: 20px;
  }

  .reason-item .title-en {
    font-size: 24px;
    color: #289A49;
    margin-top: 5px;
    line-height: 1.6;
    letter-spacing: 0.05em;
  }

  .reason-item .title-jp {
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: 1.6;

  }

  .reason-item .text {
    font-family: "Noto Sans JP";
    font-size: 14px;
    width: 90%;
    letter-spacing: 0.1em;
    line-height: 1.8;
    margin-top: 15px;
  }



}