@charset "UTF-8";
/* CSS Document */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;

  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333;
  background-color: #EDECE6;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  .pc-nav,
  .pc-item,
  .container-sns {
    display: none;
  }

  .pc-only {
    display: none;
  }

  /*==============================================================
    　　アニメーション
  ==============================================================*/
  /* ==================== フェードアップ（ページ内）================== */
  /* アニメーション前の状態 */
  .fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
    transition-delay: 0.1s;
  }

  /* 表示されたらこのクラスが付く */
  .fade-up.show {
    opacity: 1;
    transform: translateY(0);
  }

  /* 遅延用クラス */
  .delay-1 {
    transition-delay: 0.3s;
  }
  .delay-2 {
    transition-delay: 0.6s;
  }
  .delay-3 {
    transition-delay: 0.9s;
  }

  /* ==================== 画像（横表示）================== */
  .img-wrap {
    opacity: 0;
    position: relative;
    overflow: hidden;
  }

  .img-wrap img {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1.05); /* ちょっと拡大しておくとプロっぽく見える */
    transition: transform 0.8s ease;
  }

  .img-wrap.show {
    opacity: 1;
  }

  .img-wrap.show img {
    transform: scale(1); /* 元のサイズに戻す */
  }

  /* マスクアニメーション */
  .img-wrap::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #EFEAE2;
    transform: translateX(0); /* 初期状態は全体覆う */
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .img-wrap.show::before {
    transform: translateX(100%); /* 右にスライドして消える */
  }


  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 99;
  }

  .header .logo-box  {
    width: 100px;
    height: 120px;
    background-color: #289A49;
  }

  .header .logo-box.active {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .header .logo-box a  {
    width: 100px;
    height: 120px;
    display: inline-block;
    display: grid;
    place-content: center;
    padding-right: 2px;
  }

  .header .logo-box img  {
    width: 55px;
  }

  .header .logo-box .logo  {
    font-family: "Noto Sans JP";
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
  }

  .header .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    position: fixed;
    /* top: 20px; */
    top: 18px;
    right: 5%;
  }

  .btn i{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 20px;
    border-radius: 3px;
    background-color: #289A49;
    transition: 0.5s;
  }

  .btn.color i{
    background-color: #525A5F;
  }

  .btn i:nth-of-type(1){
    top: 22px;
  }

  .btn i:nth-of-type(2){
    top: 28px;
  }

  .btn.active i:nth-of-type(1){
    transform: translateY(2px) rotate(45deg);
  }

  .btn.active i:nth-of-type(2){
    transform: translateY(-4px) rotate(-45deg);
  }

  .btn.active i {
    left: 15px;
  }

  /* ヘッダーがスクロールされたときに追加されるクラス */
  .header.scrolled .btn {
    background-color: #289A49;
  }
  .header.scrolled .btn i {
    background-color: #fff;
  }
  .header.scrolled .btn.active {
    background-color: #fff;
  }
  .header.scrolled .btn.active i {
    background-color: #289A49;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: #289A49;
    transition: .5s;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
    /* padding: 115px 0 0 75px; */
    padding: 28% 0 0 16%;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .container.active{
    opacity: 1;
    pointer-events: auto;
  }

  /* メニュー黒ポチを消す */
  .nav-list {
    list-style: none;
  }

  .nav-item{
    font-family: "Noto Sans JP";
    color: #fff;
    text-align: left;
    /* font-size: 24px; */
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px;
    justify-content: center;
    letter-spacing: 0.05em;
  }

  .nav-item.active .container{
    opacity: 0;
  }

  .container .logo-box {
    margin-bottom: 40px;
    text-align: left;
  }
  .container .logo-box img  {
    width: 63px;
  }

  .container .logo-box .logo  {
    font-family: "Noto Sans JP";
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    margin-left: 3px;
    text-align: left;
  }



  /* ========== TOP以外のページ（index-others）=========== */
  /* ハンバーガーメニュー */
  /* 初めのスタイル */
  .index-other .header .btn {
    background-color: #289A49;
  }
  .index-other .header .btn i{
    background-color: #fff;
  }

  /* メニューが開いた際のスタイル */
  .index-other .btn.active {
    background-color: #289A49;
    border: solid 1px #fff;
  }
  .index-other .btn.active i {
    background-color: #fff;
  }
  .index-other .btn.active i {
    left: 14.3px;
  }

  /* scrolled後、メニューが開いた際のスタイル */
  .index-other .header.scrolled .btn.active {
    background-color: #289A49;
    border: solid 1px #fff;
  }
  .index-other .header.scrolled .btn.active i {
    background-color: #fff;
  }
  .index-other .header.scrolled .btn.active i {
    left: 14.3px;
  }

  /*==============================================================
    　　LINE
  ==============================================================*/
  .line-box {
    position: fixed;
    top: 50%;
    left: auto;
    right: 0;
    transform: translate(100%, -50%);
    width: 40px;
    height: 190px;
    color: #289A49;
    font-weight: bold;
    z-index: 16;
    opacity: 0;
    background-color: #D0C4A2;
    transition: padding-right 0.8s ease, all 0.8s ease;
  }

  .line-box.show {
    opacity: 1;
    transform: translate(0, -50%);
  }

  .line-box a {
    width: 40px;
    max-width: 40px;
    height: 190px;
    justify-items: center;
    white-space: nowrap;
    display: inline-block;
    padding-bottom: 23px;
    display: grid;
    place-content: center;
    gap: 10px;
  }

  .line-box img {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
    margin-left: 3px;
  }

  .line-box p {
    transform: rotate(90deg);
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.2em;
  }

  /*==============================================================
    　　電話番号
  ==============================================================*/

  .tel-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 295px;
    height: 51px;
    font-weight: bold;
    z-index: 16;
    opacity: 0;
    background-color: #289A49;
    border-radius: 13px 13px 0 0;
    transition: padding-bottom 0.8s ease, all 0.8s ease;
  }

  .tel-box.show {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  .tel-box a {
    width: 295px;
    /* max-width: 40px; */
    height: 51px;
    /* justify-items: center; */
    /* white-space: nowrap; */
    /* display: inline-block; */
    /* padding-bottom: 40px; */
    display: grid;
    place-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 22px;
  }

  .tel-box img {
    width: 23px;
    margin-top: 1px;
  }

  .tel-box p {
    font-family: "Noto Sans JP";
    /* transform: rotate(90deg); */
    /* margin: 0 auto; */
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 18.5px;
    margin-right: 10px;
  }


  .tel-box.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  /*==============================================================
    　　コピー
  ==============================================================*/
  .copy-box {
    position: fixed;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    z-index: 10;
    transform: rotate(-90deg);
  }

  .copy-box .copy {
    font-family: "Josefin Sans";
    font-size: 10px;
    letter-spacing: 0.24em;
    font-weight: 700;
  }

  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer {
   font-family: "Noto Sans JP";
   background-color: #F6F6F2;
  }

  .footer .logo-box {
    padding: 60px 37.5px 30px;
    display: flex;
    align-items: center;
  }

  .footer .logo-box img {
    width: 63px;
    margin-right: 20px;
  }

  .footer .logo-box .logo {
    font-weight: 500;
    font-size: 40px;
    color: #575757;
    margin-bottom: 4px;
  }

  .footer .info-box {
    margin: 0 30px 0 37.5px;
  }

  .footer .info {
    font-size: 16px;
  }

  .footer .info .info-item {
    display: grid;
    grid-template-columns: 85px 1fr;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5;
  }

  .footer .info .info-item dt {
    font-weight: 400;
  }

  .footer .text {
    font-size: 12px;
    line-height: 2.8;
    margin: 38px 0 30px;
    font-weight: 500;
  }

  .foot-line {
    width: 100vw;
    height: 1px;
    background-color: #DFDFDF;
  }

  .footer-link {
    padding: 65px 37.5px;
    display: flex;
    justify-content: space-between;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    align-items: center;
  }

  .footer-link p {
    margin-bottom: -6px;
  }

  .footer-link .sns img {
    width: 18px;
  }

  .footer-link .sns img.line {
    margin-right: 9px;
  }

}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  /* .sp-nav, */
  .sp-only,
  .tel-box {
    display: none;
  }

  .container-sns {
    display: block;
  }

  /*==============================================================
    　　TB_ヘッダー
  ==============================================================*/
  .header .logo-box  {
    width: 180px;
    height: 200px;
    margin-left: 2.5%;
    transition: all 0.5s ease;

  }

  .header .logo-box a  {
    width: 80px;
    height: auto;
    margin: 50px auto 0;
  }

  .header .logo-box img  {
    width: 73px;
  }

  .header .logo-box .logo  {
    margin-top: 16px;
    font-size: 21px;
  }

  .header .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    position: fixed;
    top: 50px;
    right: 4%;
  }

  .header.scrolled .btn {
    top: 25px;
    transition: all 0.5s ease;
  }

  .header .logo-box.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 2;
    filter: brightness(0.4);
    transition: all 0.5s ease;
  }


  /* メニューのデザイン*/
  .container {
    width: 50%;
    left: 50%;
    padding: 26% 0 0 10%;
  }

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10; /* containerのz-indexより小さくする */
    /* display: none; */
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    display: none;
  }

  .cover.active {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .nav-item{
    font-size: 24px;
    margin-bottom: 32px;
  }

  .container-sns {
    display: flex;
    align-content: center;
    margin-top: 70px;
  }

  .container-sns p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-right: 12px;
    align-items: center;
    margin-top: 4px;
  }

  .container-sns .sns img {
    width: 22px;
    margin-left: 14px;
  }

  /* .container .logo-box  {
    width: 84px;
  } */

  .container .logo-box img  {
    width: 75px;
  }

  .container .logo-box .logo  {
    margin-top: 15px;
    font-size: 21px;
    /* margin-bottom: 90px; */
    /* margin-bottom: 60px; */
  }

  .container .logo-box {
    margin-bottom: 44px;
  }


  /* ヘッダーがスクロールされたときに追加されるクラス */
  .header.scrolled .logo-box {
    width: 120px;
    height: 120px;
    transition: all 1s 0s cubic-bezier(0.23,1,0.32,1);
  }

  .header.scrolled .logo-box a  {
    width: 60px;
    margin: 22px auto 0;
    transition: all 1s 0s cubic-bezier(0.23,1,0.32,1);
  }

  .header.scrolled .logo-box img {
    width: 60px; /* ロゴ画像を小さく */
  }

  .header.scrolled .logo-box .logo {
    font-size: 17px; /* 文字サイズも小さく */
    margin-top: 9px;
  }

  /*==============================================================
    　　TB_電話番号
  ==============================================================*/
  .tel-box {
    position: fixed;
    top: 30%;
    left: auto;
    right: 0;
    transform: translate(100%, -50%);
    width: 51px;
    height: 295px;
    border-radius: 0;
    transition: padding-bottom 0.8s ease, all 0.8s ease;
  }

  .tel-box.show {
    transform: translate(0, -50%);
  }

  .tel-box a {
    width: 51px;
    height: 295px;
    display: inline-block;
  }

  .tel-box p {
    transform: rotate(90deg);
  }


  /*==============================================================
    　　TB_コピー
  ==============================================================*/
  .copy-box {
    left: -27px;
  }

  /*==============================================================
    　　TB_フッター
  ==============================================================*/
  .footer .logo-box {
    padding: 80px 0 30px;
    width: 83.3%;
    margin: 0 auto;
  }

  .footer .info-box {
    width: 83.3%;
    margin: 0 auto;
  }

  .footer .info .info-item {
    display: grid;
    grid-template-columns: 85px 1fr;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.2;
  }

  .footer .text {
    margin: 43px 0 43px;
    font-size: 12.5px;
  }

  .footer-link {
    padding: 44px 0 100px;
    width: 83.3%;
    margin: 0 auto;
  }


}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */

  .pc-only,
  .pc-nav {
    display: block;
  }

  .pc-none,
  .sp-nav {
    display: none;
  }
  /*==============================================================
    　　PC_ヘッダー
  ==============================================================*/
  .header .logo-box  {
    width: 240px;
    height: 240px;
    line-height: 1;
    margin-left: 2.5%;
  }

  .header .logo-box a  {
    width: 100px;
    height: auto;
    display: block;
    margin: 60px auto 0;
  }

  .header .logo-box img  {
    width: 95px;
  }

  .header .logo-box .logo  {
    margin-top: 18px;
    font-size: 25px;
  }

  .header-sns {
    height: 150px;
    display: flex;
    align-items: center;
    padding-bottom: 19px;
  }

  .header-sns p {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin-top: 6px;
  }

  .header-sns .sns {
    display: flex;
    margin-left: 16px;
  }

  .header-sns .sns img {
    width: 21px;
  }

  .header-sns .sns img.line {
    margin-right: 16px;
    width: 21px;
  }

  .header .header-sns .icon-white {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: left;
    margin: 0;
    width: auto;
    height: 150px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .nav-item {
    font-size: 14px;
    margin: 0 14px;
  }

  .header .list-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px 0 25px;
    margin-right: 0;
  }

  .nav-item a.active{
    padding-bottom: 7px;
    border-bottom: solid 1px #fff;
  }

  .trigger-header {
    height: 1px;
  }


  /* ヘッダーがスクロールされたときに追加されるクラス */
  .header.scrolled {
    height: 80px;
    transition: all 0.3s ease;
    background-color: #EDECE6;
  }

  .header.scrolled .nav-item a {
    color: #333; /* スクロール後のリンク文字色 */
  }

  .header.scrolled .nav-list {
    height: 80px; /* ナビゲーションバーの高さを少し縮める */
    padding-bottom: 8px;
  }

  .header.scrolled .nav-item a.active{
    border-bottom: solid 1px #333;
  }

  .header.scrolled .logo-box .logo {
    font-size: 17px;
    margin-top: 9px;
    min-width: 60px;
  }

  .header.scrolled .header-sns {
    height: 80px;
    transition: all 0.3s ease;
    padding-bottom: 7px;
  }

  .header.scrolled .header-sns p {
    color: #333;
  }

  .header.scrolled .header-sns .icon-white {
    display: block;
  }

  .header.scrolled .header-sns .icon-black {
    display: none;
  }

  /* ========== TOP以外のページ（index-others）=========== */
  .index-other .header .nav-item a {
    color: #333; /* スクロール後のリンク文字色 */
  }
  .index-other .header .nav-item a.active{
    border-bottom: solid 1px #333;
  }

  .index-other .header-sns p {
    color: #333;
  }

  .index-other .header .header-sns .icon-white {
    display: block;
  }

  .index-other .header .header-sns .icon-black {
    display: none;
  }

  /*==============================================================
    　　PC_フッター
  ==============================================================*/
  .footer .info-box {
    display: grid;
    grid-template-columns: 350px auto;
    margin-bottom: 43px;
  }

  .footer .logo-box img {
    margin-left: -3px;
  }

  .footer .info .info-item {
    font-size: 14.5px;
  }

  .footer .info-box .text {
    margin: 0;
    margin-top: -10px;
    font-size: 13px;
    max-width: 582px;
  }

  .footer-link .foot-site-map {
    display: flex;
  }

  .footer-link .foot-site-map p {
    margin-right: 15px;
  }

  .footer-link .foot-site-map p.pc-only {
    font-weight: 580;
  }

  .footer-link .foot-site-map p.pc-only.end {
    margin-right: 120px;
  }

}

@media screen and (min-width: 1180px) {
  /* タブレット横（ipad Air）用レイアウト 1180px以上の範囲に収めるデザインはこの中に記述 */
  .pc-item {
    display: block;
  }

  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer .info-box {
    grid-template-columns: 380px auto;
  }

}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header .list-box {
    padding: 0 80px 0 55px;
  }

  .header.scrolled .nav-list {
    padding-top: 13px;
  }
  /*==============================================================
    　　ホバーアニメーション
  ==============================================================*/
  /* ==================== snsアイコン ================== */
  .header-sns .sns a,
  .footer-link .sns a {
    transition: opacity 0.3s;
  }

  .header-sns .sns a:hover,
  .footer-link .sns a:hover {
    opacity: 0.6;
  }

  /* ==================== navリンク＿ホバー ================== */
  /* リンク全体に基準を設定 */
  .nav-item a {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }

  /* 疑似要素でアニメーション下線を作成 */
  .nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
  }

  /* ホバー時：左からスライド表示 */
  .nav-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
  }

  .nav-item a.active::after {
    transform: scaleX(0);
  }

  /* ヘッダーがスクロールされたときに追加されるクラス */
  .header.scrolled .nav-item a::after {
    background-color: #333;
  }

  /* ========== TOP以外のページ（index-others）=========== */
  /* navリンク＿ホバー */
  .index-other .nav-item a::after {
    background-color: #333;
  }


  .nav-item a.active{
    padding-bottom: 10px;
  }

  .nav-list {
    padding-bottom: 10px;
  }

  /* ==================== LINEタグ ================== */

  .line-box:hover {
    padding-right: 65px;
  }

  /* ==================== フッターリンク＿ホバー ================== */
 .footer-link .foot-site-map a {
    transition: opacity 0.3s;
 }

 .footer-link .foot-site-map a:hover {
    opacity: 0.6;
  }

}